name: Node CI

on:
  push:
    branches:
      - main

jobs:
  build:
    permissions:
      contents: read

    runs-on: ubuntu-latest

    env:
      GIT_USER: ${{ secrets.GIT_USER }}
      GIT_PASS: ${{ secrets.GIT_PASS }}

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@main
      - uses: pnpm/action-setup@master
        with:
          version: 10

      - name: SETUP_NODE_${{ matrix.node-version }}
        uses: actions/setup-node@main
        with:
          node-version: ${{ matrix.node-version }}

      - name: BEFORE_SCRIPT
        run: |
          git config --global user.name 'gracefullight'
          git config --global user.email 'gracefullight.dev@gmail.com'

      - name: INSTALL_PACKAGES
        run: pnpm install --frozen-lockfile

      - name: BUILD
        run: pnpm run build

      - name: DEPLOY
        run: pnpm run deploy
